.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  gap: 1rem;
}

.search-field-container,
.sources-container,
.filters-container {
  padding: 0 2rem 0 2rem;
}
