.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  gap: 1rem;
  padding-top: 2rem;
}

.sources-and-preferences {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-field-container,
.sources-and-preferences,
.filters-container,
.articles-list-container {
  padding: 0 2rem 0 2rem;
}
