.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  gap: 1rem;
}

.sources-and-preferences {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-field-container,
.sources-and-preferences,
.filters-container {
  padding: 0 2rem 0 2rem;
}
